name : Resourcepack Zipper
on:
  push:
    branches:
      - main
jobs:
    build:
        runs-on: ubuntu-latest
    
        steps:
            - name: "Actions for Discord"
              env:
                DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
              uses: Ilshidur/action-discord@0.4.0
              with:
                args: "Im testing suffs ;3 hihihi"
